/* classi generiche */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f8fa;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 45px;
  font-weight: bolder;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

/* UTILITY */

.bceleste {
  background-color: #f5f8fa;
  color: white;
}

.bazzurro {
  background-color: #42ade7;
  color: white;
}

.bviola {
  background-color: #9b74dd;
  color: white;
}

.barancio {
  background-color: #f0a22a;
  color: white;
}

.bverdeacqua {
  background-color: #5cc8a9;
  color: white;
}

.bfucsia {
  background-color: #d8629a;
  color: white;
}

.bverdechiaro {
  background-color: #aec726;
  color: white;
}

.etichettacolorata {
  text-align: center;
  padding: 4px 7px;
  color: white;
  font-size: 12px;
}

.etichettabianca {
  text-align: center;
  padding: 4px 7px;
  color: grey;
  font-size: 12px;
  border: 1px solid gray;
}

.angolosmussato {
  border-radius: 5px;
}

.angolorotondo {
  border-radius: 20px;
}

.tendina {
  padding: 0 0 30px 0;
}

.fontgrassetto {
  font-size: 900;
}

/* A. HEADER */

header {
  padding: 20px;
  background-color: white;
}

.logo {
  display: flex;
}

.allineamentoverticale {
  vertical-align: middle;
  align-items: center;
}

/* B. MAIN */

main {
  width: 100%;
}

/* C. SEZIONE PRINCIPALE */

.sezioneprincipale {
  width: 60%;
  background-color: white;
  margin: 50px auto;
  padding: 20px 50px;
}

/* D. DOPPIA OPTION */

.doppiaoption {
  display: flex;
  gap: 4px;
  padding: 0 0 30px 0;
}

/* E. TENDINA 1 */

.allineamentotitoloeitemtendina {
  display: flex;
  gap: 6px;
  align-items: center;
  padding-bottom: 10px;
}

.icona {
  font-size: 12px;
  font-weight: 800;
}

.iconacolorataverde {
  color: #5cc8a9;
  border: 1px solid #5cc8a9;
  padding: 1px 4px;
}

.iconaround {
  border-radius: 50%;
}

.iconacoloratarosso {
  color: red;
  border: 1px solid red;
  padding: 1px 4px;
}
